.article{
    margin: 60px 0;
    @include pad(){
        margin: 40px 0;
    }
    > .text_b{
        > p{
            font-size: $xs;
        }
        > span > a{
            font-size: $xs;
            color: $gold;
            text-decoration: none;
        }
    }
}