.pd {
    padding: 80px 0px;
    @include pad(){
        padding: 50px 0px;
    }

    > li{
        margin-bottom: 50px;
        @include pad(){
            margin-bottom: 30px;
        }
        > .text_b{
            > a > .material-icons{
                color: $gold;
            }
            > p{
                font-size: $xs;
                > span{
                    font-size: $xs;
                    color: $gray;
                    text-decoration: line-through;
                }
            }
            @include pad(){
                > a > .material-icons, > h4{
                    font-size: $s;
                }
            }
        }
    }
}

.page{
    margin-bottom: 50px;
    @include pad(){
        margin-bottom: 40px;
    }
    > a{
        color: $gold;
        font-size: $s;
        &:hover{
            color: white;
            background-color: $gold;
        }
    }
}