@mixin imgClick($w,$h){
    display:block;
    width: $w;
    height: $h;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
}

@mixin mobile(){
    @media(max-width:768px){
        @content;
    }
}

@mixin mobile_smaller(){
    @media(max-width:375px){
        @content;
    }
}