.banner{
    background: url("../imgs/index1.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    height: 880px;
    @include pad{
        height: 600px;
    }
    @include mobile{
        height: 400px;
        background-position: 40%;
    }
    > .container-xl > .row > .text_w{
        color:white;
        float: right;
        margin: 300px 0px;
        > a{
            max-width: 350px;
            height: 60px;
            border: 2px solid white;
            border-radius: 30px;
            color: white;
            background-color: rgba(0,0,0,0);
            font-size: $l;
            text-align: center;
            text-decoration: none;
        }
        @include pad{
            margin: 200px 0px;
        }
        @include mobile{
            margin: 100px 0px;
            > h2{
                font-size: $l;
            }
            > p{
                font-size: $s;
            }
            > input{
                font-size: $m + 4px;
            }
        }
    }
}
