.member{
    padding: 80px 0px;
    @include pad(){
        padding: 50px 0px;
    }
    *{
        color: $gray;
        font-size: $xs;
    }
    input,select{
        border: 1px solid $gray;
        border-radius: 3px;
    }
    input{
        padding: 5px 10px;
    }
    select{
        padding: 8.5px 10px;
    }
    label,p{
        line-height: $high;
    }
    input[type='submit']{
        border: none;
        background-color: $gold;
        color:white;
    }

    .btns{
        margin-bottom: 15px;
        h5{
            font-size: $s;
        }
        > .links{
            a:hover{
                color:$gold;
            }
            > .spe{
                border-bottom: 2px solid $gold;
            }
        }
        > h5{
            margin-bottom: 30px;
        }
    }
    
    .inputs{
        margin-bottom: 40px;
        > h6{
            font-weight: bold;
            color: black;
            border-bottom: 1px solid black;
            margin-bottom: 20px;
        }
        .row{
            margin-bottom: 20px;
        }
    }

    .infos{
        margin-bottom: 40px;
        > h6 {
            margin-bottom: 25px;
            > .num{
                font-size: $s;
            }
            >  .material-icons{
                font-size: $m;
                color:black;
                vertical-align: auto;
            }
        }
        > .small{
            font-size: $xs - 2px;
        }
    }
}