.productsingle{
    padding: 80px 0px;
    @include pad(){
        padding: 50px 0px;
    }
    > .row{
        > .pics img{
            margin-bottom: 30px;
        }
        > .text{
            > .description{
                margin-bottom: 30px;
            }

            > .price{
                margin-bottom: 80px;
                input{
                    border-radius: 3px;
                    border: 1px solid $gold;
                    height: 50px;
                }
                input[type='submit']{
                    background-color: $gold;
                    color: white;
                }
                .like{
                    font-size: $xs;
                    > a {
                        color:$gold;
                    }
                }
            }

            > .detail{
                > h6{
                    font-weight: bold;
                }
                > p{
                    font-size: $xs;
                }
            }
        }
    }
}

.out{
    max-width: 90%;
    margin: 0 auto;
}