.product{
    background-color: $lightgray;
    .pd{
        > li{
            position: relative;
            > .sold{
                position: absolute;
                top: 0;
                width: 94%;
                height: 84%;
                background-color: black;
                opacity: 30%;
                z-index: 100;
            }          
            > .soldp{
                position: absolute;
                width: 100%;
                top: 40%;
                color: white;
                text-align: center;
                z-index: 101;
            }            
            > .text_b{
                > p{
                    font-size: $xs;
                    > span{
                        font-size: $xs;
                        color: $gray;
                        text-decoration: line-through;
                    }
                }
            }
        }        
    }
}