.article{
    margin: 60px auto;
    padding: 0px 20px;
    display: flex;
    > img{
        width: 65%;
    }
    .alt{
        display: none;
    }
    > .text_b{
        width: 30%;
        margin: auto 2.5%;
        > h5{
            margin-bottom: 16px;
        }
        > p{
            font-size: $xs;
            margin-bottom: 16px;
        }
        > span > a{
            font-size: $xs;
            color: $gold;
            text-decoration: none;
        }
    }
    @include mobile(){
        flex-direction: column;
        margin: 40px 0px;
        padding: 0px 10px;
        > img, > .text_b{
            width: 92%;
            margin: 0 auto;
        }
        > .text_b > h5{
            margin-bottom: 8px;
        }
    }
    @include mobile_smaller(){
        .org{
            display: none;
        }
        .alt{
            display: block;
        }
    }
}