.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    > .hambtn{
        display: none;
        margin: 0px 20px;
        > a{
            color: $gray;
            display: inline-block;
        }
    }
    > .ham{
        display: none;
        position: absolute;
        top: 68px;
        width: 100%;
        > li{
            width: 100%;
            background-color:$darkgray;
            > a{
                text-align: center;
                font-size: $s;
                line-height: $medium;
                color: white;
                text-decoration: none;
                display: block;
                padding: 16px 0px;
                border-bottom: 1px solid white;
            }
        }
        
    }
    @include mobile(){
        > .hambtn, > .active{
            display: block;
        }
    }
    > .btns > li{
        margin: 16px 10px;
        width: 100px;
        color: $gray;
        @include mobile(){
            display: none;
        }
        > a{
            display: inline-block;
            width: 70%;
            color: $gray;
            font-size: $s;
            line-height: $medium;
            text-decoration: none;
        }
        > a:hover{
            text-decoration: underline;
        }
    }
    > .logo > a{
        background: url("../imgs/d’Perfume.png");
        margin: 15px 20px;
        @include imgClick(128px,38px);
    }
}

.material-icons {
    font-size: $s;  /* Preferred icon size */
    display: inline-block;
    line-height: $medium;
    margin: 2px;
}

.hambtn > a > .material-icons {
    font-size: $xl;  /* Preferred icon size */
    display: inline-block;
    line-height: $medium;
    margin: 4px 5px;
}

